<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
    <span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 135px">Utilisateur</span>
    <select class="message expressionAttr form-control ta_autosize userchose" rows="1"
            style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">
        <option value="">Non defini</option>
    </select>
    <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="user" value="#user#"
           data-cmd_id="#id#" data-uid="#uid#" style="width: 80%; display: inline-block;"/>
    </span>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
    <span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 135px">Motif</span>
    <select class="message expressionAttr form-control ta_autosize motifchose" rows="1"
            style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">
        <option value="">Non defini</option>
        <option value="enfants">Enfants</option>
        <option value="travail">Travail</option>
        <option value="achats">Achats</option>
        <option value="sante">Sante</option>
        <option value="famille">Famille</option>
        <option value="handicap">Handicap</option>
        <option value="sport_animaux">Sport ou Animaux</option>
        <option value="convocation">Convocation</option>
        <option value="missions">Missions</option>
    </select>
    <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="motif" value="#motif#"
           data-uid="#uid#" style="width: 80%; display: inline-block;"/>
  </span>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
    <span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 135px">Date (AAAA-MM-JJ)</span>
    <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="datesortie" value="#datesortie#"
           data-uid="#uid#" style="width: 80%; display: inline-block;"/>
    </span>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
    <span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 135px">Heures (hh:mm)</span>
    <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="heuresortie" value="#heuresortie#"
           data-uid="#uid#" style="width: 80%; display: inline-block;"/>
    </span>
</div>

<script>

    $('.userchose[data-uid=#uid#]').off('change').on('change', function () {
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=user]').value($(this).value())
    });

    $('.motifchose[data-uid=#uid#]').off('change').on('change', function () {
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=motif]').value($(this).value())
    });

    var user = "#user#";

    $.ajax({
        type: 'POST',
        url: 'plugins/discordlink/core/ajax/discordlink.ajax.php',
        data: {
            action: 'getuserArray'
        },
        dataType: 'json',
        error: function (request, status, error) {
            handleAjaxError(request, status, error, $('#div_AboAlert'));
        },
        success: function (data) {
            if (data.state != 'ok') {
                $('#div_AboAlert').showAlert({message: 'ERROR', level: 'danger'});
                return;
            }
            for (var i in data.result) {
                var text = data.result[i].prenomUser +" "+data.result[i].nomUser;
                var value = i;
                $('.userchose[data-uid=#uid#]').append('<option value="'+value+'">'+text+'</option>');
            }
            $('.userchose[data-uid=#uid#]').val(user);
        }
    });
</script>

<script>
    var motif = "#motif#";
    $('.expressionAttr[data-l1key=options][data-l2key=motif][data-uid=#uid#]').val(motif);

    $('.listEquipementInfoTitre[data-uid=#uid#]').on('click', function () {
        if ('#message_cmd_subtype#' != '') {
            jeedom.cmd.getSelectModal({
                cmd: {
                    type: '#message_cmd_type#',
                    subType: '#message_cmd_subtype#'
                }
            }, function (result) {
                $('.expressionAttr[data-l1key=options][data-l2key=Titre][data-uid=#uid#]').atCaret('insert', result
                    .human);
            });
        } else {
            jeedom.cmd.getSelectModal({
                cmd: {
                    type: '#message_cmd_type#'
                }
            }, function (result) {
                $('.expressionAttr[data-l1key=options][data-l2key=Titre][data-uid=#uid#]').atCaret('insert', result
                    .human);
            });
        }
    });

    $('.listEquipementInfourl[data-uid=#uid#]').on('click', function () {
        if ('#message_cmd_subtype#' != '') {
            jeedom.cmd.getSelectModal({
                cmd: {
                    type: '#message_cmd_type#',
                    subType: '#message_cmd_subtype#'
                }
            }, function (result) {
                $('.expressionAttr[data-l1key=options][data-l2key=url][data-uid=#uid#]').atCaret('insert', result
                    .human);
            });
        } else {
            jeedom.cmd.getSelectModal({
                cmd: {
                    type: '#message_cmd_type#'
                }
            }, function (result) {
                $('.expressionAttr[data-l1key=options][data-l2key=url][data-uid=#uid#]').atCaret('insert', result
                    .human);
            });
        }
    });

    $('.listEquipementInfoDesk[data-uid=#uid#]').on('click', function () {
        if ('#message_cmd_subtype#' != '') {
            jeedom.cmd.getSelectModal({
                cmd: {
                    type: '#message_cmd_type#',
                    subType: '#message_cmd_subtype#'
                }
            }, function (result) {
                $('.expressionAttr[data-l1key=options][data-l2key=description][data-uid=#uid#]').atCaret('insert',
                    result.human);
            });
        } else {
            jeedom.cmd.getSelectModal({
                cmd: {
                    type: '#message_cmd_type#'
                }
            }, function (result) {
                $('.expressionAttr[data-l1key=options][data-l2key=description][data-uid=#uid#]').atCaret('insert',
                    result.human);
            });
        }
    });

    $('.listEquipementInfoFooter[data-uid=#uid#]').on('click', function () {
        if ('#message_cmd_subtype#' != '') {
            jeedom.cmd.getSelectModal({
                cmd: {
                    type: '#message_cmd_type#',
                    subType: '#message_cmd_subtype#'
                }
            }, function (result) {
                $('.expressionAttr[data-l1key=options][data-l2key=footer][data-uid=#uid#]').atCaret('insert', result
                    .human);
            });
        } else {
            jeedom.cmd.getSelectModal({
                cmd: {
                    type: '#message_cmd_type#'
                }
            }, function (result) {
                $('.expressionAttr[data-l1key=options][data-l2key=footer][data-uid=#uid#]').atCaret('insert', result
                    .human);
            });
        }
    });

    $('.colorChooser[data-uid=#uid#]').off('change').on('change', function () {
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=colors]').value($(this).value())
    });
</script>
